#root {
  color: #000;
  background-color: #f0f5f3;
  margin: 15px;
  display: grid;
  max-width: 100vw;
  height: 100vh;
  grid-template-columns: 50px auto;
  grid-template-rows: 50px auto;
  column-gap: 20px;
  row-gap: 10px;
  grid-template-areas:
    "first second"
    "third fourth";
}
.first {
  grid-area: first;
  background-color: #fff;
  border-radius: 50%;
  text-align: center;
}
.second {
  grid-area: second;
}
.third {
  grid-area: third;
  background-color: #fff;
  border-radius: 30px;
  display: flex;
  justify-content: center;
}
.fourth {
  grid-area: fourth;
  background-color: #fff;
  border-radius: 30px;
}

/* Dashboard Styling */
.dashboard-container{
  padding: 0 50px;
}
.total-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.card {
  height: 130px;
  width: 240px;
  background-color: #f0f5f3;
  border-radius: 8px;
  border: 1px solid #d9d9d9;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.charts {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.chart {
  height: 250px;
  width: 350px;
  background-color: #f0f5f3;
}
.chef-list {
  display: grid;
  grid-template-columns:  200px 1fr;
}
.chef-heading{
  padding:5px 20px;
  background-color: #F0F0F0;
}
.nav-link {
  color: black;
  margin: 8px;
  background-color: #f0f5f3;
  border: 1px solid #d9d9d9;
  padding: 5px;
  border-radius: 50%;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.nav-link:hover {
  background-color: #bfc7c4;
  color: red;
  padding: 5px;
  border: 1px solid #d9d9d9;
  text-align: center;
}

/* Tables Styling */
.table-container {
  height: 100%;
  width: 100%;
}
.planing {
  display: grid;
  grid-template-columns: repeat(7, 160px);
  row-gap: 20px;
  justify-content: space-evenly;
}
.table {
  border: 1px solid #bababa;
  border-radius: 8px;
  background-color: #f9f9f9;
  height: 150px;
  width: 160px;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.dlt-table {
  position: relative;
  left: 35%;
  top: 5%;
  border: none;
}
.dlt-table button {
  border: none;
  background-color: #f9f9f9;
}
.table-details {
  margin: 15px 0 0 0;
}
.table-name {
  font-size: 1.5rem;
  font-weight: 450;
  margin: 0;
}
.table-num {
  font-size: 40px;
  margin: 0;
}
.chair-person {
  position: relative;
  left: 50px;
}
.chair-person p{
  margin: 0 0 10px 0;
}
.addTable-btn {
  height: 150px;
  background-color: #fff;
  font-size: 40px;
  border-style: dashed;
  border-radius: 8px;
}
.planing button:hover {
  background-color: #bdbcbc;
  border-style: solid;
  color: aliceblue;
}

/* Modal Styling */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-content {
  position: relative;
  height: 220px;
  width: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0f5f3;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 2px 2px 10px #a8a8a8;
}
.modal-form {
  width: 100%;
  max-width: 300px;
}
.input-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input-table-name {
  font-size: large;
  border: none;
}
.input-table-num {
  font-size: 50px;
  border: none;
  border-bottom: 1px dashed black;
  margin-bottom: 10px;
}

.modal-overlay input {
  text-align: center;
  padding: 8px;
  background-color: #f0f5f3;
  color: #000;
}
.modal-overlay select {
  margin-top: 10px;
  width: 50px;
  padding: 5px;
  border-radius: 10px;
  color: #4E4E4E;
  font-size: large;
}

.create-btn {
  margin-top: 10px;
  color: white;
  padding: 10px 40px;
  border-radius: 15px;
  background-color: #505050;
}
.create-btn:hover{
  background-color: #918383;
}

/* Orders Styling */

.orders {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: space-between;
}
.orderBox {
  width: 200px;
  height: 280px;
  background-color: burlywood;
  border: none;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  margin: 10px 10px;
}
.order-info {
  background-color: #fff;
  width: 180px;
  height: 65px;
  padding: 10px;
  border-radius: 15px;
  margin-bottom: 10px;
}
.meal {
  background-color: #fff;
  width: 180px;
  height: 220px;
  padding: 10px;
  border-radius: 15px;
}
/* Cart Styling */
.cart-main {
  background-color: #fff;
  width: 100vw;
  height: 100vh;
}
.cart-search {
  height: 40px;
  width: 80vw;
  background-color: #f0f5f3;
  display: flex;
  align-items: center;
  border: 1px solid #a8a8a8;
  margin: 10px;
}
.cart-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.nav-icon {
  border: 1px solid #616161;
  color: #616161;
  text-decoration: none;
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.nav-icon:hover {
  background-color: #616161;
  color: #fff;
  box-shadow: 0 0 10px #616161;
}
.cart-header {
  width: 100%;
  height: fit-content;
}
.cart-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px;
}
.cart-item {
  margin: 10px;
  height: 40vw;
}
.cart-item img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.cart-item:hover {
  /* border: 1px solid #616161; */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 0px 10px #616161;
}
.item-info {
  height: 40%;
  padding: 5%;
  background-color: #d9d9d9;
  display: flex;
  flex-direction: column;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.item-info button {
  height: fit-content;
  width: fit-content;
  position: relative;
  left: 80%;
  bottom: 30px;
}
